@import "compass/reset";

h1 {
  font: xx-large/1.5 sans-serif;
  text-align: center;
}

#jxgbox {
  @media (max-width: 850px) {
    width: 99vw;
    height: 99vw;
  }
  @media (min-width: 851px) {
    width: 25em;
    height: 25em;
  }
}

form div.input {
  display: table-row;
  vertical-align: middle;
}

form div.input * {
  display: table-cell;
  vertical-align: middle;
}

form div.input label {
  text-align: right;
  width: 3.5em;
}

footer {
  margin-top: 1ex;
  border-top: 1px black solid;
}

small {
  font-size: smaller;
}
